.webj2ee-table{
    font-family: "Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.webj2ee-table table {
    min-width: 100%;
}

.webj2ee-table-header table{
    border-radius: 4px 4px 0 0;
}

.webj2ee-table-thead>tr>th{
    background:#fafafa;
    text-align: left;
    font-weight: 500;
    border-bottom:1px solid #e8e8e8;
}

