@webj2ee-prefix: webj2ee;

@table-prefix-cls: ~"@{webj2ee-prefix}-table";

.@{table-prefix-cls} {
    position: relative;
    font-family: "Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        text-align: left;
    }

    th,
    td{
        padding: 16px;
    }

    &-header-wrapper{
        height: 54px;

        .header{
            overflow: hidden;

            th{
                background:#fafafa;
                text-align: left;
                font-weight: 500;
            }
        }

        .gutter{
            width: 16px;
            border-right: 1px solid #e8e8e8;
            height: 100%;
            float: right;
            background:#fafafa;
        }
    }


    // 表格每行的底边始终有边框线
    th,
    td{
        border-bottom: 1px solid #e8e8e8;
    }

    &-body {
        overflow: auto;
    }

    // 外边框线 + 列边框线
    &-bordered {
        border: 1px solid #e8e8e8;
        border-bottom: 0;
        border-right: 0;

        th,
        td{
            border-right: 1px solid #e8e8e8;
        }
    }

    // 斑马纹效果
    &-stripe {
        .@{table-prefix-cls}-body{
            tr:nth-child(even){
                background-color: #f2f2f2;
            }
        }
    }

    // 固定列
    &-fixed-left{
        position: absolute;
        left: 0;
        top: 0;
    }
    &-fixed-right{
        position: absolute;
        right: 0;
        top: 0;
    }
}


.react-resizable {
    position: relative;
}

.react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    bottom: 0;
    right: -5px;
    cursor: col-resize;
}
